<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello! Electron</title>
    <style>
        * {
            margin: 0px;
            font-family: "PingFang SC Regular", "PingFang SC", "微软雅黑";
        }
    </style>
</head>
<body>
    <div id="container">

    </div>
    <script>
        // 把electron注入到window.$electron
        window.$electron = require('electron');
        <% // 生产环境时，禁止command + r 刷新页面 %>
        <% if (process.env.NODE_ENV === 'production') {%>
            window.addEventListener('keydown', (e) => {
              if (e.metaKey && e.key === 'r') {
                e.preventDefault();
                e.stopPropagation();
              }
            }, false);
        <% } %>
    </script>
</body>
</html>
