.CodeMirror, .CodeMirror-scroll {
    height: 590px!important;
    border-top: unset;
}

.mde-container {
    margin-top: 30px;
}

.header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 13px;
    line-height: 30px;
    color: #5f5f5f;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    position: fixed;
}

.header-status {
    color: #a9a9a9;
}
